.stock-frame{
    background: grey;
    border: 1px solid black;
    margin: 2px;
}

h2{
    font-size: 20px;
    text-align: center;
}

.green-background{
    background: green;
}

.red-background{
    background: red;
}

.stock-frame:hover{
    transform: scale(1.5)
}